
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;519&family=Roboto&family=Roboto+Mono:ital,wght@0,100;0,400;1,400&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(/assets/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.form{
    width: 100%;
    height: 50px;
    max-width: 27rem;
    position: relative;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: rgb(37, 39, 162);
    padding-top: 20px;
    border: none;
    outline: 0px;
    text-align: center;
}
.form .lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid blue;
}
.form .lbl-nombre::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid blue;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nom{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus + .lbl-nombre .text-nom,.form input:valid + .lbl-nombre .text-nom{
    transform: translateY(-150%);
    font-size: 12px;
    color: blueviolet;
}
.form input:focus + .lbl-nombre:after,
.form input:valid + .lbl-nombre::after{
    transform: translateX(0%);
}

/* boton */
.button{
        
    border: none;
    width: 30%;
    color: white;
    font-size: 15px;
    background:  rgb(32, 32, 146);
    padding: 5px 20px;
    /* redondeado */
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;
}
/* pasar cursor en button */
.button:hover{
    background: rgb(81, 81, 141);
}
.cuenta{
    text-align: center;
}
.link{
    /* quitar subrayado en letras */
    text-decoration: none;
    color: rgb(32, 32, 146);
    font-weight: 600;
}
.link:hover{
    color: rgb(81, 81, 141);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.FormLogin{
    background:rgb(255, 255, 255);
    padding: 6px;
    
}
.contenedor{
    width: 100%;
    padding: 15px;
}

body:before{
    content: "";
    width: 55%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #080707, #161312);
    opacity: 0.4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;




}

h1{
    margin-top: 2rem;
    text-align: center;
}

.container{
    position: absolute;
    margin-top: 20rem;
    margin-left: 65rem;
}