<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Links -->
    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/25584e7832.js"></script>
    <link rel="stylesheet" href="login.component.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>
<!-- inicio de cuerpo -->
<body>
    <div class="container  translate-middle">
        <div class="row">
            <div class="col-lg-6 col-md-3 p-5 border FormLogin rounded">
                <div class="text-center">
                    <img src="assets/logo.png" class="rounded" width="120" height="100" />
                </div>
                <h1>Bienvenido</h1>
                <div class="contenedor">
                    <div class="form">
                        <input type="text" name="email" id="email" required="required"
                            [(ngModel)]="datosLogin.email" />
                        <label class="lbl-nombre">
                            <span class="text-nom">
                                <i class="fa-solid fa-envelope icon"></i>
                                Correo electrónico
                            </span>
                        </label>
                    </div>
                    <br />
                    <div class="form">
                        <input type="password" name="password" id="password"
                            required="required" [(ngModel)]="datosLogin.password" />
                        <label class="lbl-nombre">
                            <span class="text-nom">
                                <i class="fa-solid fa-lock icon"></i>
                                Contraseña
                            </span>
                        </label>
                    </div>
                    <br />
                    <div class="center">
                        <button type="submit" value="Ingresar" class="button" (click)="login()">
                            Ingresar
                        </button>
                        <br />
                        <br />
                        <p class="cuenta">
                            ¿Se te olvido la contraseña?<a class="link" href=""></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>