<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Menú</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/641792a699.js" crossorigin="anonymous"></script>

    <!-- Core theme CSS (includes Bootstrap)-->

</head>
<body id="page-top">
    <!-- Navigation-->

    <section>
        <div class="row">
            <div class="col-lg-4 azul menu">  
                <div class="registro">
                    <img class="iconosnav" src="assets/edit.png" alt="">
                    <a class="nav-link iconosnav" [routerLink]="[ '/menu']">Registro</a>
                </div>
                <div class="consultar">
                    <img class="iconosnav" src="assets/consultar.png" alt="">
                    <a class="nav-link iconosnav" [routerLink]="[ '/consultar']">Constancias</a>
                </div>
                <div class="usuario">
                    <img class="iconosnav" src="assets/consultar.png" alt="">
                    <a class="nav-link iconosnav" [routerLink]="[ '/consultarR']">Reconocimientos</a>
                </div>
                <div class="formato">
                    <img class="iconosnav" src="assets/user.png" alt="">
                    <a class="nav-link iconosnav " [routerLink]="[ '/usuarios']">Usuarios</a>
                </div>
                <div class="consultarR">
                    <img class="iconosnav" src="assets/salir.png" alt="">
                    <a class="nav-link iconosnav " [routerLink]="[ '/login']">Salir</a>
                </div>
    </div>
            <div class="gris">
                <div class="blanco sombra">
                    <span>
                        <a style="float: left; margin-right: 1rem;" [routerLink]="[ '/menu']"><i class="fa-solid fa-arrow-left"></i></a>
                        <h4>CONSTANCIAS</h4>
                    </span>
                
                
                  
                    <div class="row">
                        <div class="container">
                            <div class="table-responsive">
                                <div id="Tabla1" class="table-wrapper">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>NOMBRE</th>
                                                <th>ROL</th>
                                                <th>NOMBRE DE PROYECTO, CURSO, ETC.</th>
                                                <th>CLAVE</th>
                                                <th>FECHA INICIO</th>
                                                <th>FECHA CONCLUSIÓN</th>
                                                <th>FECHA ENTREGA</th>
                                                <th>HORAS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                                <tr *ngFor="let item of datos2; let i=index">
                                                    <td>{{item.Nombre}}</td>
                                                    <td>{{item.Rol}}</td>
                                                    <td>{{item.NombreP}}</td>
                                                    <td>{{item.Clave}}</td>
                                                    <td>{{item.FechaI | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.FechaC | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.FechaE }}</td>
                                                    <td>{{item.Horas}}</td>
                                                    <td><button class="btn opc" (click)="manejarClicFila(item)"><i class="fa-sharp fa-solid fa-file-arrow-down" style="color: #ffffff;"></i></button></td>
                                                    <td><button class="btn opc" (click)="Eliminar(item)"><i class="fa-sharp fa-solid fa-trash" style="color: #ffffff;"></i></button></td>
                                            </tr>
                                                                               
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>