<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Menú</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/641792a699.js" crossorigin="anonymous"></script>

    <!-- Core theme CSS (includes Bootstrap)-->

</head>

<body id="page-top">
    <!-- Navigation-->

    <section>
        <div class="row">
            <div class="col-lg-4 azul menu">  
                <div class="registro">
                    <img class="iconosnav" src="assets/edit.png" alt="">
                    <a class="nav-link iconosnav" [routerLink]="[ '/menu']">Registro</a>
                </div>
                <div class="consultar">
                    <img class="iconosnav" src="assets/consultar.png" alt="">
                    <a class="nav-link iconosnav" [routerLink]="[ '/consultar']">Constancias</a>
                </div>
                <div class="usuario">
                    <img class="iconosnav" src="assets/consultar.png" alt="">
                    <a class="nav-link iconosnav" [routerLink]="[ '/consultarR']">Reconocimientos</a>
                </div>
                <div class="formato">
                    <img class="iconosnav" src="assets/user.png" alt="">
                    <a class="nav-link iconosnav " [routerLink]="[ '/usuarios']">Usuarios</a>
                </div>
                <div class="consultarR">
                    <img class="iconosnav" src="assets/salir.png" alt="">
                    <a class="nav-link iconosnav " [routerLink]="[ '/login']">Salir</a>
                </div>
    </div>
            <div class=" col-lg-12 gris">
                <div class="blanco sombra">
                    <span>
                        <a style="float: left; margin-right: 1rem;" [routerLink]="[ '/usuarios']"><i class="fa-solid fa-arrow-left"></i></a>
                        <h4 style="float: left;">Usuarios</h4>
                    </span>
                    <br>
                    <br>
                    <div class="title-h1">
                        <h1>Crear Cuenta</h1>
                    </div>
                    <br>
                    <div class="container-inputs">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nombre" [(ngModel)]="Datos.nombreUsuario" name="usuario" >
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                        </form>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Correo" value="tesla@gmail.com" [(ngModel)]="Datos.email" name="correo" >
                              <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                        </form>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <mat-label>Escriba una contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="Datos.password" name="pass" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                            </mat-form-field>
                        </form>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Rol" [(ngModel)]="Datos.role" name="rol"  >
                            </mat-form-field>
                        </form>
                        <br>
                        <div class="btn">
                            <button type="submit" class="guardar" (click)="AgregarUser()">Registrar</button>
                        </div>
                    </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- formulario Modal 1-->
    <div class="portfolio-modal modal fade" data-bs-target="formulario" tabindex="-1" aria-labelledby="formulario"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="text-uppercase mb-0">Reporte servidor SSH</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <iframe src="https://drive.google.com/file/d/1jz2j4Yz5ZMh1Aq77mtBIf-fc7GshjpSc/preview"
                                    width="90%" height="780" allow="autoplay"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>