<div id="global">
    <div id="mensajes">
<h2> <strong>CONSTANCIA</strong> </h2>
<form [formGroup]="formulario">
        <div formArrayName="experienciaLaboral" *ngFor="let trabajo of experienciaLaboral.controls; let i = index;">
            <div [formGroupName]="i" class="row">
                <div class="col-4">  
                <div class="form-group"> 
                    <label for="nombre" class="control-label">Nombre del participante:</label>
                    <input type="text"  class="form-control" formControlName="Nombre" required> 
                </div>
                </div>
                <div class="col-4">  
                <div class="form-group"> 
                    <label  class="control-label">Rol:</label>
                    <input type="text"  class="form-control" formControlName="Rol" required> 
                </div>
                </div>
                <div class="col-4"> 
                    <br>
                    <br> 
                    <button class="btn guardar" (click)="borrarTrabajo(i)">Borrar</button>
                </div>
                </div>               
       </div>
    <hr/>
    <div class="row">
        <div class="col-4"> 
        <div class="form-group"> 
            <label  class="control-label">Nombre del proyecto, curso, etc:</label>
            <input type="text"  formControlName="NombreP" class="form-control" required>
        </div>
        <div class="form-group"> 
            <label  class="control-label">Clave del curso:</label>
            <input type="text"formControlName="clave" class="form-control" required>
        </div>
        <div class="form-group"> 
            <label  class="control-label">Fecha de inicio:</label>
            <input type="date"  formControlName="FechaI" class="form-control"required  >
        </div>
        </div>
      
        <div class="form-group col-4"> 
        <div class="form-group"> 
            <label  class="control-label">Fecha a concluir:</label>
            <input type="date" formControlName="FechaC" class="form-control" required >
        </div>
        <div class="form-group"> 
            <label  class="control-label">Fecha de entrega:</label>
            <input type="text" formControlName="FechaE" class="form-control" required>
        </div>
        <div class="form-group"> 
            <label  class="control-label">Numero de horas:</label>
            <input type="number"  formControlName="Horas" class="form-control"  required>
        </div>
        </div>   
        
        <div class="form-group col-4 btnopc"> 
            <button type="submit" class="btn guardar2" (click)="anadirExperienciaLaboral2()">+ Añadir</button> 
            <button  class="btn guardar2" (click)="agregarConstancia()">AGREGAR</button>
            <button  printSectionId="demo" ngxPrint class="btn guardar2" (click)="imprimir()">Descargar constancia(s)</button>

        </div> 
        </div>
  </form>
  </div>
</div>



<!--
<form>
    <h3><strong>CONSTANCIA</strong></h3>
    <div class="row">
    <div class="col-4">  
    <div class="form-group"> 
        <label for="nombre" class="control-label">Nombre del participante:</label>
        <input type="text" [(ngModel)]="Datos.Nombre" id="Nombre" class="form-control" >
    </div>
    
    <div class="form-group"> 
        <label  class="control-label">Rol:</label>
        <select class="form-control" name=""  [(ngModel)]="Datos.Rol" id="rol">
            <option value="">Seleccionar</option>
            <option value="Instructor">Instructor</option>
            <option value="Ponente">Ponente</option>
            <option value="Participante">Participante</option>
            <option value="Asesor">Asesor</option>
            <option value="Facilitador">Facilitador</option>
        </select>
    </div>
    
    <div class="form-group"> 
        <label  class="control-label">Nombre del proyecto, curso, etc:</label>
        <input type="text"  [(ngModel)]="Datos.NombreP" name="NombreP" class="form-control" >
    </div>
    </div>

    <div class="form-group col-4"> 
    <div class="form-group"> 
        <label  class="control-label">Clave del curso:</label>
        <input type="text" name="clave" [(ngModel)]="Datos.clave" class="form-control"  >
    </div>
    <div class="form-group"> 
        <label  class="control-label">Fecha de inicio:</label>
        <input type="date" [(ngModel)]="Datos.FechaI" name="FechaI" class="form-control"  >
    </div>
    <div class="form-group"> 
        <label  class="control-label">Fecha a concluir:</label>
        <input type="date" [(ngModel)]="Datos.FechaC" name="FechaC" class="form-control" >
    </div>
    </div>


    <div class="form-group col-4"> 
    <div class="form-group"> 
        <label  class="control-label">Fecha de entrega:</label>
        <input type="date" [(ngModel)]="Datos.FechaE" name="FechaE" class="form-control" >
    </div>
    <div class="form-group"> 
        <label  class="control-label">Numero de horas:</label>
        <input type="number" [(ngModel)]="Datos.Horas" name="horas" class="form-control"  >
    </div>
    <br>
        <button type="submit" class="btn guardar clase">Guardar</button><br>
        <button class="imprimir" (click)="imprimir()">Imprimir</button>
    </div> 
    </div>
    </div>
    </form>


-->