
.title-h1 {
    text-align: center;
}

.example-form, mat-select, mat-label{
    margin: 0 auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width{
    width: 100%;
}

.example-container mat-form-field + mat-form-field {
    margin: 0 auto;
    width: 100%;
}
.btn{
    width: 100%;
    text-align: center;
}
.guardar{
    background-color: #0437AA;
    border-color: #0437AA;
    border-radius: 6px;
    -webkit-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    color: white;
    padding:0.3rem 3rem;
    overflow: hidden;
}