<div class="title-h1">
    <h1>Actualizar datos</h1>
</div>
<br>
<div class="container-inputs">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre" value="">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Numero" value="">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo" value="">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Selecciona una opcion</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Ingresa contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
        </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Ingresa contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field>
    </form>
    <br>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary">Guardar cambios</button>
    </div>
</div>