<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Menú</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/641792a699.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
       
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <section>
                <div class="row">
                    <div class="col-lg-4 azul menu">  
                                <div class="registro">
                                    <img class="iconosnav" src="assets/edit.png" alt="">
                                    <a class="nav-link iconosnav" [routerLink]="[ '/menu']">Registro</a>
                                </div>
                                <div class="consultar">
                                    <img class="iconosnav" src="assets/salir.png" alt="">
                                    <a class="nav-link iconosnav " [routerLink]="[ '/login']">Salir</a>
                                </div>
                    </div>
                    <div class=" col-lg-12 gris">
                    <div class="blanco sombra">
                        <mat-horizontal-stepper class="margen" >
                            <mat-step label="Tipo"> 
                                <br>
                                <br>
                               <h6>¿Qué desea registrar?</h6> 
                               <br>
                               <button class="btn botones" (click)="constancia2()"  matStepperNext>
                                <img class="img-fluid iconos" src="assets/constancia.png" alt="" >
                                <h5 class="opciones2">CONSTANCIA</h5>
                                <img class="img-fluid iconos" src="assets/flecha.png" alt="">
                               </button>
                               <br>
                               <br>
                               <br>
                               <button class="btn botones"(click)="reconocimiento2()" matStepperNext>
                                <img class="img-fluid iconos" src="assets/reconocimiento.png" alt="">
                                <h6 class="opciones">RECONOCIMIENTO</h6>
                                <img class="img-fluid iconos" src="assets/flecha.png" alt="">
                               </button>
                               <br>
                               <br>
                               <br>
                               <br>
                               <br>
                            </mat-step>  
                
                            <mat-step label="Departamento">
                            <br>
                                <h6>¿A que Departamento va dirigido?</h6>
                                <br>
                                <form class="form-group" action="">
                                <select class="form-control sele" id="departamento" style="float: left; margin-right:1rem;" required>                                    
                                    <option value="">Departamento</option>
                                    <option value="Depto. de dirección">Depto. de dirección</option>
                                    <option value="Depto. subdirección académica">Depto. subdirección académica</option>
                                    <option value="Depto. Ciencias Básicas">Depto. Ciencias Básicas</option>
                                    <option value="Depto. Ciencias económico-Administrativas">Depto. Ciencias económico-Administrativas</option>
                                    <option value="Depto. Metal Mecánica">Depto. Metal Mecánica</option>
                                    <option value="Depto. Eléctrica y electrónica">Depto. Eléctrica y electrónica</option>
                                    <option value="Depto. Sistemas y computación">Depto. Sistemas y computación</option>
                                    <option value="Depto. Desarrollo académica">Depto. Desarrollo académica</option>
                                    <option value="Depto. Estudios Profesionales">Depto. Estudios Profesionales</option>
                                    <option value="Depto. Posgrado">Depto. Posgrado</option>
                                    <option value="Depto. Planeación y Vinculación">Depto. Planeación y Vinculación</option>
                                    <option value="Depto. Centro de información">Depto. Centro de información</option>
                                    <option value="Depto. Actividades Extraescolares">Depto. Actividades Extraescolares</option>
                                    <option value="Depto. Gestión tecnología y vinculación">Depto. Gestión tecnología y vinculación</option>
                                    <option value="Depto. Planeación, Programación y Presupuestación">Depto. Planeación, Programación y Presupuestación</option>
                                    <option value="Depto. Servicios Escolares">Depto. Servicios Escolares</option>
                                    <option value="Depto. Comunicación y difusión">Depto. Comunicación y difusión</option>
                                    <option value="Depto. Servicios administrativos">Depto. Servicios administrativos</option>
                                    <option value="Depto. Recursos financieros">Depto. Recursos financieros</option>
                                    <option value="Depto. Recursos humanos">Depto. Recursos humanos</option>
                                    <option value="Depto. Recursos Materiales y servicios">Depto. Recursos Materiales y servicios</option>
                                    <option value="Depto. Matenimiento y equipo">Depto. Matenimiento y equipo</option>
                                    <option value="Depto. Centro de cómputo">Depto. Centro de cómputo</option>
                                </select>
                            </form>
                            <br>
                            <br>
                            <button  class="btn back2" mat-button matStepperPrevious>REGRESAR</button>
                            <button type="submit" class="btn next2" mat-button matStepperNext>SIGUIENTE</button>
                            </mat-step>
                            <mat-step label="Registro">
                                <br>
                                <app-constancia *ngIf="constancia"></app-constancia>
                                <app-recocimiento *ngIf="reconocimiento"></app-recocimiento>
                                
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>

                    </div>
                </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>